.wrapper {
  width: 100%;
  margin: 0 auto 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.centered {
  display: block;
  margin: 0 auto;
}

.button-go-to-form {
  margin-bottom: 30px;
}

.button-show-form {
  margin-bottom: 30px;
}

.wrapper-form {
  position: relative;
}

.show-popover {
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.show-popover> .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}

.show-popover> .arrow {
  border-width: 11px;
}

.show-popover> .arrow:after {
  content: "";
  border-width: 10px;
}

.show-popover> .arrow,
.show-popover> .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

@media (min-width: 720px) {
  .wrapper {
    max-width: 75%;
  }
}