<div class="wrapper">
  <form [ngFormModel]="form"
        (submit)="submitForm($event)"
        class="form">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email" ngControl="email" required>
    </div>
    <br>
    <div class="form-group">
      <label for="site">Site</label>
      <input type="text" class="form-control" id="site" placeholder="Site" ngControl="site" required>
    </div>
    <br>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="setDropdownOption('Bitcoin')"><i class="glyphicon glyphicon-bitcoin"></i> Bitcoin</a></li>
        <li><a class="dropdown-item" (click)="setDropdownOption('Euro')"><i class="glyphicon glyphicon-euro"></i> Euro</a></li>
        <li><a class="dropdown-item" (click)="setDropdownOption('Yen')"><i class="glyphicon glyphicon-yen"></i> Yen</a></li>
        <li><a class="dropdown-item" (click)="setDropdownOption('Ruble')"><i class="glyphicon glyphicon-ruble"></i> Ruble</a></li>
      </ul>
    </div>
    <div style="wrapper-datepicker">
      <datepicker [(ngModel)]="date" (ngModelChange)="setDateOption(date)" [minDate]="minDate" [showWeeks]="true"></datepicker>
    </div>
    <button type="submit" class="btn btn-default submit-form" (click)="submitted=true">Send</button>
  </form>

  <div class="alert alert-danger" role="alert" [hidden]="formStatus.value !== 'Error'">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <span class="sr-only">Error:</span>
    Enter a valid email address
  </div>

  <div class="alert alert-success" role="alert" [hidden]="formStatus.value !== 'Success'">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <span class="sr-only">Success:</span>
    The form has been submitted correctly!
  </div>
</div>
